/*
GENERAL RULES:
1.  Priority of selectors (in case of conflicting properties):
    a.  !important declaration > inline style in HTML > ID (#) selector > Class (.) selector or Pseudo-class(:) selector > Element selector (p, div, li, a, etc.) > Universal (*) selector
    b.  last ID selector > first ID selector (similarly for other type of selectors)
2.  Usually text-related properties can be inherited from parent selectors by child selectors, and also can be overridden by the latter.
3.  Non-text-related properties (eg: border-top, margin, padding) can't be inherited by child selectors, as that'd be impractical.
4.  CSS Box Model comprises:
    a.  inside an element: content (image, text, etc. of certain height & width) + padding + border
    b.  outside an element: margin
5.  Box-sizing:
    a.  box-sizing: content-box (default, no need to specify) - width: & height: only get applied to the content, padding + border adds to width: & height: specified (difficult as calculation is required to say, fit 2 elements side-by-side)
    b.  box-sizing: border-box - width: & height: get applied to the element (padding + border included in the width: & height: specified, and content's own area automatically gets reduced to fit width: & height:; easier as less calculation)
6.  Types of Boxes:
    a.  Inline:
            occupies exactly the width needed for its content.
            doesn't create any line-breaks before or after.
            height & width don't apply.
            padding & margin only applied horizontally.
            are placed side-by-side.
            eg: default elements: a, b, button, etc., & with css: display: inline
    b.  Block-level:
            occupies 100% of the parent's element width.
            creates line-breaks after it.
            height & width apply.
            padding & margin applied both vertically & horizontally.
            can't be placed side-by-side (elements are stacked vertically by default).
            eg: default elements: h1, p, ol, li, div, header, body, etc., & with css: display: block
    c.  Inline-block-level:
            looks inline from outside placed (side-by-side and no line-breaks).
            height & width apply.
            padding & margin applied both vertically & horizontally.
            eg: default elements: img, etc., & with css: display: inline-block
7.  Types of Flow:
    a.  Normal:
            default positioning.
            element is “in flow”, i.e. element is simply laid out according to its order in the HTML code.
            position: relative
    b.  Absolute:
            element is removed from the normal flow: “out of flow”.
            no impact on surrounding elements, might overlap them.
            we use top, bottom, left, or right to offset the element from its first relatively positioned parent container (i.e., its parent element, eg: <body>, is set to position: relative; if not, the element will be offset w.r.t. viewport).
            position: absolute
8.  Ways of building Layouts:
    a.  Float:
            old way.
            uses float: left & float: right.
            another way to absolute positioning where elements can be "out of flow", but they do have impact on surrounding inline elements (wrap around floated elements).
            parent container doesn't adjust its height acc to floated elements. for eg: if all elements in a container is floated, the container height collapses.
    b.  Flexbox:
            modern way.
            uses display: flex
            for 1-d rows without using floats.
            empty space inside a container gets evenly divided by its child elements horizontally (or vertically).
            perfect for component layouts.
    c.  CSS Grid:
            modern way.
            display: grid
            for 2-d grid.
            empty space inside a container gets evenly divided by its child elements horizontally & vertically.
            perfect for page layouts & complex components.
9.  Responsive design ingredients:
    a.  Fluid layouts
            allow webpage to adapt to the current viewport width (or even height).
            use % (or vh / vw) unit instead of px for elements that should adapt to viewport (usually layout).
            use "max-width:" instead of "width:" (element is at parent container's width when the container's width is less than element's max-width).
    b.  Responsive units
            use rem unit instead of px for most elements' lengths; rem - root element's font-size, i.e. <html> element's/browser's font size (which, by default, is 1rem = 16px).
            make it easy to scale the entire layout up or down automatically.
            helpful trick: setting 1rem = 10px for easy calculations by doing:
            html {
                font-size: 62.5%;    # of the user's browser default size (10 is 62.5% of 16)    # instead of font-size: 10px;   # % helps user to inc/dec their browser's default font-size at convenience while px won't.
            }
    c.  Flexible images
            by default, images don’t scale automatically as we change the viewport; so we need to fix that.
            always use % for image dimensions, together with the max-width property.
    d.  Media queries
            bring responsive sites to life.
            change CSS styles on certain viewport widths (called breakpoints).
 */



/* UNIVERSAL SELECTOR (*) - non-inheritable properties get applied to all the elements.
   And of course, properties mentioned in this selector (least priority) can be overridden by other selectors (higher priority).
*/
* {
    margin: 0;
    border-top: 10px solid;
    box-sizing: border-box;
}

/* COMBINING SELECTORS */
h1,
h2,
p,
li {
    color: #1098ad;
}

/* NESTED SELECTORS */
article header p {
    color: #1098ad;
}

/* PSEUDO-CLASSES (:) */
li:first-child {
    font-weight: bold;
}
li:last-child {
    font-style: italic;
}
li:nth-child(even) {
    color: red;
}
nav a:link:last-child {
    margin-right: 0;            /* trick to remove margin from right most child */
}

/* PSEUDO-ELEMENTS (::) - don't exist in HTML but can still style in CSS; inline element by default */
h1::first-letter {
    font-size: 16px;
}
p::first-line {
    color: red;
}
h3 + p::first-line {
    color: red;                 /* adjacent sibling selector (+) - trick to set style on the first-line in only the adjacent p of each h3 */
}
h2::before {                    /* ::after & ::before - imp pseudo-elements; inline elements; automatically becomes very last & first child of the selector resp; cosmetic styling with introducing any new HTML element */
    content: "TOP";             /* content property is required here */
    background-color: #ffe70e;
    display: inline-block;
}


/* STYLING LINKS */
/* Always follow std. order: LVHA */
a:link {
    color: #1098ad;
    text-decoration: none;
}
a:visited {
    color: #777;
}
a:hover {
    color: orangered;
    text-decoration: underline orangered;
}
a:active {
    background-color: black;
}

/* TRICK TO CENTER AN ELEMENT */
.container {
    margin: 0 auto;
}

/* TRICK TO FIT AN IMAGE */
.img {
    width: 100%;                /* doing so will fit the image inside its parent container say, .img-box, and thus, keep the image's huge dimensions in check */
}

/* FLOATS */
h1 {
    float: left;
}
nav {
    float: right;
}
.clear {
    clear: both;                /* trick 1 to clear float (when no other element exists to clear the float); here, .clear is an empty div inside same parent container as h1 & nav; empty divs clutter up the HTML */
}
.clearfix::after {              /* trick 2 to clear float; better approach; here, .clearfix is also a class of the parent container h1 & nav; ::after creates the last child element of the parent container */
    content: "";                /* required field in ::before & ::after */
    clear: both;
    display: block;             /* coz ::after & ::before are inline elements and clearing floats like this only work on block-level (here, div) elements */
}

/* FLEXBOX LAYOUT */
.row {
    display: flex;              /* elements get placed side-by-side */
    align-items: flex-start;    /* vertically align inside .row; other options: flex-end, center, stretch (default; all elements inside .row takes the height of the longest element), etc. */
    justify-content: center;    /* horizontally align inside .row; other options: space-between, flex-start, etc. (remaining space in .row gets distributed evenly between the flexbox items) */
    gap: 75px;                  /* create space b/w flex items without using margin */
    flex-direction: row;        /* to define which is main axis; default: row; other options: row-reverse, column, column-reverse */
}
.el {
    align-self: auto;           /* to overwrite align-items property for individual flex items; other options: flex-end, center, etc. */
    flex: 0 1 auto;             /* (shown default values); shorthand for flex-grow (allow an element to grow to fit .row), flex-shrink (allow an element to shrink to fit .row), and flex-basis (define an item's width without using width:; specified width may not apply if content is larger, or depending on flex-grow & flex-shrink values) */
    order: 0;                   /* controls order of items; -1: first, 1: last */
}

/* CSS GRID LAYOUT */
.grid {
    display: grid;
    grid-template-columns: 1fr 200px 300px;     /* establish the grid row & column tracks; fraction unit (fr) can be specified instead of px to make the size flexible (tend to fill the empty space on resize) */
    grid-template-rows: 1fr 300px 200px auto;   /* note: can use grid-template-columns: repeat(4, 1fr) to repeat fr values */
    align-items: start;                         /* vertically align inside rows */
    justify-content: center;                    /* horizontally align inside .grid; only applies if .grid container is larger than the grid elements inside */
    justify-items: start;                       /* horizontally align inside columns */
    align-content: center;                      /* vertically align inside .grid; only applies if .grid container is larger than the grid elements inside */
    row-gap: 60px;
    column-gap: 75px;                           /* OR, use gap: property to set both */
    height: 500px;
}

.el--grid {
    grid-column: 2 / 3;                         /* to place a grid item inside a specific cell (here, at col 2); eg: grid-column: 2 / -1 means from 2nd col till the end */
    /* grid-column: 1 / span 3; */              /* is same as grid-column: 1 / 4; span: property is used to span an item across more cells */
    grid-row: 1 / 2;
    align-self: center;                         /* to overwrite align-items property for individual grid items; other options: stretch, start, etc. */
    justify-self: center;                       /* to overwrite justify-items property for individual grid items; other options: stretch, start, etc. */
}
